.container {
  margin: 50px 0;
  line-height: 50px;
  font-size: 30px;
  /* vertical-align: center; */
  font-family: arial;
}

.btn {
  margin: 0 10px;
  background-color: #fff;
  border: 2px solid black;
  font-weight: bold;
  font-size: 30px;
  min-width: 50px;
  height: 50px;
  cursor: pointer;
  outline: none;
  
}
.btn:disabled {
  opacity: 0.3
}

.containerMenu {
  margin: 50px 0;
  font-size: 20px;
  font-family: sans-serif;
}

.app {
  text-align: center;
}
h1 {
  text-transform: uppercase;
}

.big {
  font-size: 56px;
}

.line {
  text-decoration: underline;
}

.red {
   color: red;
}